table,
tr,
td,
th {
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  background-color: #1f1f1f;
  color: #f5f5f5;
}

.right div {
  float: right;
  background-color: rgb(143, 0, 0, 0.8);
  display: block;
}

body {
  background-image: url("page-background.jpg");
}

form {
  background-color: rgb(143, 0, 0, 0.8);
  color: #f5f5f5;
}

button {
  background-color: #1f1f1f;
}
